<!-- header.component.html -->

<div class="header">
    <!-- Your other header content here -->
    <span (click)="showCartItems()">Cart Items: {{ cartItemCount }}</span>
  </div>

  <dialog id="myDialog">
    <button (click)="closeDialog()" class="btn btn-dark">X</button>
    <div *ngFor="let item of cartItemsLocal">
        <div class="row col-sm-12" style="border: 1px solid black;background-color: #af1010;">
            <div class="col-sm-4">item Name : {{item.itemName}}</div>
            <div class="col-sm-4"><img src={{item.url}} style="width: 120px;"/></div>
        </div>
    </div>
  </dialog>
  