<app-header></app-header>
<div class="row">
  <div class="col-sm-4 col-0"></div>
  <div class="col-sm-8 col-12">
  
    <div class="row" *ngFor="let rowItems of items | chunk : 3">
      <div class="col-sm-4 col-12 mb-1" *ngFor="let item of rowItems" (click)="showDescription(item)">
        <img [src]="item.url" alt="item Image" class="img-fluid" style="" />
        <p>{{ item.itemName }}</p> 
        <div class="item-description" style="" *ngIf="item === selectedItem">
          <button class="btn btn-dark" style="width: fit-content;text-align: right;" (click)="closeItem()">X</button>
          <p>{{ item.description }}</p>
          <button class="btn btn-primary" (click)="addToCart( item)">Add to cart</button>
        </div>
      </div>
    </div>
    
    </div>
</div>