
<div class="row" *ngFor="let rowItems of items | chunk : 3">
  <div class="col-sm-4 col-12" *ngFor="let item of rowItems" (click)="showDescription(item)">
    <img [src]="item.url" alt="item Image" class="img-fluid" style="width: 50%" />
    <p>{{ item.itemName }}</p>
    <div class="item-description" style="width: 50%" *ngIf="item === selectedItem">
      <button (click)="closeItem()">X</button>
      <p>{{ item.description }}</p>
      <button (click)="addToCart($event, item)">Add to cart</button>
    </div>
  </div>
</div>
